footer {
    border-top: 1px solid var(--theme-header-shadow);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0;

    @media print {
        .quotes {
            display: none;
        }

        &::after {
            content: "View the full version of my resume at https://benjamin.pannell.dev";
            font-size: 0.8rem;
            font-weight: 100;
            text-align: center;
            padding: 0.5rem;
            display: none;

            @media print {
                display: block;
            }
        }
    }
}