<template>
    <nav class="transparent">
        <div class="nav-wrapper">
            <a route-href="route: welcome" class="brand-logo">
                Curriculum Vitae
            </a>
                        
            <ul class="right">
                <li>
                    <a href="#" click.delegate="showMobileMenu()" class="button-collapse right"><i class="material-icons">menu</i></a>
                </li>
            </ul>
            
            <ul class="right hide-on-med-and-down">
                <li class="${route.isActive ? 'active' : ''}" repeat.for="route of router.navigation">
                    <a href="${route.href}">${route.title}</a>
                </li>
            </ul>
            
            <ul class="side-nav fixed" css="transform: translateX(${mobileMenuOpen ? 0 : (edge === 'left' ? -100 : 100) }%; ${edge}: 0;">
                <li class="${route.isActive ? 'active' : ''}" repeat.for="route of router.navigation">
                    <a href="${route.href}">${route.title}</a>
                </li>
            </ul>
        </div>
    </nav>

    <div id="sidenav-overlay" if.bind="mobileMenuOpen" click.delegate="hideMobileMenu()">

    </div>
</template>