$separator-padding: 0.7rem;

div.adjectives {
    display: inline-block;
    height: 2rem;
    line-height: 1.7rem;
    vertical-align: middle;
    position: relative;
    overflow: visible;
    width: 150px;
    margin: 0.2em;

    margin-left: $separator-padding;
    border-left: 1px solid;
    border-color: var(--theme-header-shadow);
    transition: border-color 0.2s linear;

    @media print {
        width: 80px;

        &::before {
            display: inline-block;
            content: "Leader";
            position: absolute;
            top: 0;
            left: $separator-padding;
            right: 0;
            bottom: 0;
        }
    }

    @media not print and (max-width: 720px) {
        display: none;
    }

    span {
        opacity: 0;
        position: absolute;
        top: 0;
        left: $separator-padding;
        right: 0;
        bottom: 0;
        transform: translateY(-50%);
        transition: 0.5s ease opacity, 0.7s ease transform;
    
        @media print {
            display: none;
        }

        &:first-of-type {
            transform: translateY(-100%);
            opacity: 0;
    
            &.active {
                transform: translateY(0%);
                opacity: 1;
            }
        }
    
        &:last-of-type {
            transform: translateY(100%);    
            opacity: 0;  
    
            &.active {
                transform: translateY(0%);
                opacity: 1;   
            }
        }
    }
}