<section class="cv">
    <el-row :gutter="40">
        <el-col :xs="24" :sm="11" :md="9" :lg="7">
            <div class="details">
                <div class="details-img">
                    <img src="/resources/avatar.jpg">
                </div>

                <div class="details-name">
                    <h2>Benjamin Pannell</h2>
                </div>

                <div class="details-bio">
                    <p>
                        I'm a South African engineer who is passionate about the design, development and
                        operation of complex, business critical services at scale.
                    </p>
                </div>

                <div class="details-extra">
                    <dl>
                        <dt>Company</dt>
                        <dd>Demonware</dd>

                        <dt>Citizenship</dt>
                        <dd>Irish and South African</dd>

                        <dt>Birthday</dt>
                        <dd>14th of Feburary 1993</dd>

                        <dt>Email Address</dt>
                        <dd>
                            <a href="mailto:benjamin.pannell@gmail.com">benjamin.pannell@gmail.com</a>
                        </dd>
                    </dl>
                </div>

                <div class="details-links">
                    <a href="https://www.linkedin.com/in/benjaminpannell/"><i class="icon-linkedin"></i></a>
                    <a href="https://github.com/SPARTAN563"><i class="icon-github"></i></a>
                    <a href="https://www.facebook.com/sierra563"><i class="icon-facebook"></i></a>
                    <a href="https://www.instagram.com/notheotherben"><i class="icon-instagram"></i></a>
                </div>
            </div>
        </el-col>

        <el-col :xs="24" :sm="13" :md="15" :lg="17" class="introduction">
            <h3>Introduction</h3>
            <p class="subtitle">A quick showcase of what I do and who I am</p>

            <p>
                I'm a South African who recently moved to Dublin to join
                <a href="https://www.demonware.net">Demonware</a> as a Site Reliablity
                Engineer. I've spent the past two years helping them redefine what it
                means to build and monitor business critical, customer facing services
                at scale. Over that period, I've been instrumental in helping them
                transition from a NOC-centric model to an organization with no NOC
                and better KPIs across the board for it.
            </p>

            <p>
                I've been writing customer facing code for the past decade and my experience
                ranges from C# desktop applications with tens of customers to realtime, web
                based  GIS and data analytics packages and most recently, the monitoring tooling
                we use at Demonware to support hundreds of millions of monthly active users.
                All this has been accomplished with a plethora of languages and frameworks,
                with the goal of using the right tool for each job. Everything from JavaScript and Python
                to C/C++ and Go with a range of other esoteric choices thrown in for spice.
            </p>

            <p>
                While much of my time and career has been devoted to the development of software,
                my initial exposure to programming came at the hands of Drupal and this naturally
                led to me taking up the reins of a SysAdmin. Over the years I continued to run my
                own infrastructure both for my own personal projects as well as for the various
                jobs I had. Everything from Ubuntu and CentOS VPS's to Windows Server installations
                and CoreOS clusters. When it became clear that manually provisioning and configuring
                those machines wasn't sustainable, I adopted Ansible and proceeded to build
                comprehensive infrastructure-as-code repositories which allowed me to use CI/CD
                to deploy my infrastructure and applications.
            </p>

            <p>
                More recently, I've been working to transition Demonware's Monitoring team to
                a fully containerized environment, where we leverage Kubernetes, Jenkins, GitFlow
                and Helm to provide CI/CDelivery for every one of our 50+ microservices. The result
                is that in many ways, we are years ahead of any of the true software engineering
                teams in both agility and deployment reliability.
            </p>

            <p>
                In addition to my professional experience, I've also spent years contributing to
                various open source projects and even developing my own. I thoroughly enjoy the
                opportunity to contribute to the community that helped me develop the skills I
                have today and take an active role in mentoring anybody who displays an interest.
            </p>

            <p>
                When I'm not programming, the same drive to constantly challenge myself and push
                the boundary of what is possible has led me to take up a range of hobbies from
                Hiking and Rock Climbing to Scuba Diving and Adeventure Motorcycling. If I haven't
                done it yet, I'm probably planning on it. Of course, the cautious side of my nature
                means that I've regularly been accused of entirely missing the point of doing
                "adrenaline junkie" hobbies.
            </p>
        </el-col>
    </el-row>

    <job organization="Demonware" role="Site Reliability Engineer" location="Dublin, Ireland" time-range="September 2017 to present">
        <div slot="tldr">
            <h6>TL;DR</h6>
            <p>
                I'm working as a Site Reliability Engineer, playing an integral role in
                improving the reliability of Demonware's services by replacing humans with
                technology for all the "boring" stuff. I've been focussing on developing
                the engineers around me through mentoring and guidance, as well as making
                the team one of the most modern in the organization.
            </p>
        </div>

        <div slot="content">
            <el-row :gutter="40">
                <el-col :xs="24" :md="12">
                    <h4>What I do at Demonware</h4>
                    <p>
                        I work as an SRE on Demonware's Monitoring team. As one of the senior engineers on
                        the team my responsibilities include the design and much of the implementation of
                        new services and our greater service stack as a whole. I am regularly involved in
                        technical discussions with other platform teams across the organization to help
                        drive technical alignment and improve the customer experience for teams who use
                        our services directly.
                    </p>
        
                    <p>
                        In addition to driving much of the technical direction of our team, I have stepped
                        into a mentorship role for a number of the more junior engineers on our team and
                        for other teams as well. My wide range of experience allows me to often offer
                        perspectives and suggestions that may not be forthcoming from engineers who are
                        more specialized, however I pride myself on avoiding the prescription of solutions
                        and instead enabling a conversation.
                    </p>
                </el-col>
        
                <el-col :xs="24" :md="12">
                    <h4>My projects at Demonware</h4>
                    <p>
                        I've been responsible for over 30 projects at Demonware since I arrived, with their
                        complexity ranging from a few hundred lines of code to perform a single task within
                        a composable system to our core workflow engine which has seen me write over 70k lines
                        of code on that project alone.
                    </p>
        
                    <p>
                        Some of my favourite projects include a data ingestion pipeline designed to act as the
                        central data-bus for our monitoring platform and a maintenance scheduling tool which
                        enables teams to accurately define maintenance on specific entities within Demonware's
                        infrastructure in a simple, automated, fashion - enabling better auditing of the impact
                        of maintenance work and keeping it from waking on-call (who may be in a different timezone).
                    </p>
                </el-col>
            </el-row>
        </div>
    </job>

    <job organization="EMSS Consulting" role="Software Engineer" location="Stellenbosch, South Africa" time-range="January 2015 to September 2016">
        <div slot="tldr">
            <h6>TL;DR</h6>
            <p>
                I managed a 10 year old legacy codebase, built a low-level USB communication
                library in C++ and lead the development of a complex realtime data analytics
                platform with "magical" self-healing servers. *
            </p>

            <p><small><strong>*</strong> There's nothing magical about designing for failure.</small></p>
        </div>

        <div slot="content">
            <el-row :gutter="40">
                <el-col :xs="24" :md="12">
                    <h4>What I did at EMSS</h4>
                    <p>
                        I joined EMSS as a software engineer on their IXUS team, where my responsibilities
                        primarily focussed on maintaining the backend application stack for IXUS, their
                        RF safety certification suite used by various cellular network providers around
                        the world.
                    </p>
        
                    <p>
                        Over my tenure there, I was responsible for a number of projects ranging from
                        frontend web applications, hardware communication protocols, massively parallelizable
                        data import pipelines and self-healing application clusters.
                    </p>
        
                    <p>
                        While a large portion of my legacy there involves the projects I developed while working
                        at EMSS, perhaps my biggest contribution was driving the deployment and adoption of
                        GitLab as a replacement for the company's legacy AccuRev source control system. By
                        demonstrating not only the ability to port some of their most complex application stacks
                        to a full CI/CD pipeline, but also the value in doing so, I was able to overcome the
                        familiarity that their most senior engineers had with AccuRev and convince them to
                        drive the adoption on their own teams.
                    </p>
        
                </el-col>
        
                <el-col :xs="24" :md="12">
                    <h4>My projects at EMSS</h4>
                    <p>
                        While my original responsibilities involved maintaining a legacy application stack,
                        I quickly moved onto developing new tools and services at EMSS. This started with
                        a rewritten antenna model portal which allowed customers to search for and download
                        the electromagnetic models for various cellular antennas. I worked to build a dynamic
                        expression generator which enabled structured language parsing into semantically
                        correct and highly optimized SQL queries and managed to cut the search time for antennas
                        from some 20 seconds to fewer than 20 milliseconds on average.
                    </p>
        
                    <p>
                        I was also involved in the development of a low-level USB communication library in C++
                        (and accompanying UI) to extract RF exposure information from FieldSense, a personal
                        exposure monitor that EMSS sells.
                    </p>
        
                    <p>
                        Perhaps my most interesting project at EMSS was the development of a realtime GIS platform
                        for the South African agricultural market which enabled farmers to track the efficiency
                        of pesticide spraying on their farms through a central web portal. This was an incredibly
                        complex project and there's nowhere near enough space here to do it justice, however I am
                        more than happy to talk about it if you're interested.
                    </p>
                </el-col>
            </el-row>
        </div>
    </job>

    <job organization="Stellenbosch University" role="Student" location="Stellenbosch, South Africa" time-range="January 2011 to December 2014">
        <div slot="tldr">
            <h6>TL;DR</h6>
            <p>
                I got my honours in Electrical and Electronic Engineering, specializing in embedded
                systems. I also did a lot of work outside the classroom writing software, everything
                from Lua on the .NET Runtime to a web based Zombie game and even managed to land a
                pretty unique phone from Nokia.
            </p>
        </div>

        <div slot="content">
            <el-row :gutter="40">
                <el-col :xs="24" :md="12">
                    <h4>What I did at Stellenbosch University</h4>
                    <p>
                        I studied Electrical and Electronic Engineering, completing my degree in the expected
                        4 years with my Honours specializing in embedded systems. Of course, the degree only
                        tells half the story and much of my time outside the classroom was spent writing software
                        which challenged me and expanded my horizons, as well as refining my sysadmin skillset.
                    </p>
        
                    <p>
                        Many of my software projects were targetted at other students and were all done as
                        a means to learn more about how to deliver projects on tight schedules and with ever
                        changing requirements. The others were focussed on esoteric aspects of software
                        development like "how does one implement a programming language on the .NET Runtime?"
                        or "how can I make it possible to add Google Analytics to a desktop application with
                        minimal developer effort?".
                    </p>
        
                </el-col>
        
                <el-col :xs="24" :md="12">
                    <h4>My projects at Stellenbosch University</h4>
                    <p>
                        While studying engineering, I worked on a number of different projects both commercial
                        and personal. These included a quiz bot for MXit (a popular instant messenger in South
                        Africa at the time), various web applications for elections, attendance tracking and
                        games run in my university residence as well as a desktop application that simplified
                        accessing the internet through the university's firewall.
                    </p>
        
                    <p>
                        At the time, I used a Nokia N900 as my primary mobile device and was involved in the
                        development of a number of applications for the community, including an application which
                        would lock the device if the SIM card was changed as well as one that locked the device
                        when certain applications were launched - effectively preventing access to them by anybody
                        but the owner. The latter was a challenge I took on after a member of the community insisted
                        that it was impossible and eventually resulted in me being invited into the Nokia Developer
                        Program, receiving one of two N950 devices eventually destined for South Africa.
                    </p>
                </el-col>
            </el-row>
        </div>
    </job>

    <job organization="Sierra Softworks" role="Founder" location="My personal company" time-range="Feburary 2010 to Present">
        <div slot="tldr">
            <h6>TL;DR</h6>
            <p>
                Sierra Softworks is a company I started in High School and it's the brand
                I publish most of my personal open source contributions under.
            </p>
        </div>

        <div slot="content">
            <el-row :gutter="40">
                <el-col :xs="24" :md="12">
                    <h4>What is Sierra Softworks?</h4>
                    <p>
                        Sierra Softworks is my personal company, started while I was in High School, it
                        served to give me brand which I could cultivate for the various pieces of software
                        I developed and released over the years.
                    </p>
                    <p>
                        Some of the most valuable lessons I've learnt over the past 8 years of running
                        Sierra Softworks have nothing to do with technology. Rather; they involve the
                        interactions with customers that have shaped the development of software, requested
                        support for projects I had long forgotten about or asked for advice on their own
                        projects.
                    </p>
                    <p>
                        From these interactions, I've shaped many of the processes and priorities that
                        are integral to my development today. These include a strong tendency to drive
                        for an AGILE style of software development, heavy emphasis on repeatable and automated
                        builds, a no-compromises view on the need for refactoring and managing of tech-debt
                        and comprehensive runtime instrumentation.
                    </p>
                </el-col>
        
                <el-col :xs="24" :md="12">
                    <h4>My personal projects</h4>
                    <p>
                        Over the years, I've put together no fewer than 84 personal projects and libraries
                        under the Sierra Softworks banner. Many of those are open source, while others are
                        not, but some of the more interesting ones include:
                    </p>

                    <ul>
                        <li>
                            <strong><a href="https://github.com/SierraSoftworks/Iridium">Iridum</a></strong>
                            <p class="small">A popular MongoDB ORM written in TypeScript</p>
                        </li>
                        <li>
                            <strong><a href="https://github.com/SierraSoftworks/bash-cli">bash-cli</a></strong>
                            <p class="small">A framework for building command line interfaces in pure bash</p>
                        </li>
                        <li>
                            <strong><a href="https://github.com/SierraSoftworks/sentry-go">sentry-go</a></strong>
                            <p class="small">A Sentry client for Go which supports far more of Sentry's features than the official raven-go</p>
                        </li>
                    </ul>
                </el-col>
            </el-row>
        </div>
    </job>

    <el-row :gutter="40">
        <el-col :xs="24" :md="12" :lg="8">
            <h3>Skills and Traits</h3>
            <ul>
                <li>
                    <strong>Self Motivated</strong>
                    <p class="small">
                        I am eager to learn and work best in environments where I am presented
                        with high-level problems and given the freedom to solve them.
                    </p>
                </li>
                <li>
                    <strong>Systematic Approach to Problem Solving</strong>
                    <p class="small">
                        My experience as an engineer and working to phase-out a NOC has forced
                        me to develop a methodical process to solving a range of problems.
                    </p>
                </li>
                <li>
                    <strong>Broad Knowledge and Experience</strong>
                    <p class="small">
                        My experience with an extremely broad range of tools, processes and technologies
                        gives me a unique perspective on many things, with the experience to guide
                        decisions down the right path.
                    </p>
                </li>
                <li>
                    <strong>Love to Learn and Teach</strong>
                    <p class="small">
                        I love being placed in situations where others know things I don't, or
                        where I am able to add context and depth to the knowledge of a colleague
                        with less experience.
                    </p>
                </li>
            </ul>
        </el-col>
        
        <el-col :xs="24" :md="12" :lg="8">
            <h3>Certifications and Training</h3>
            <ul>
                <li>
                    <strong>MongoDB M101JS</strong>
                    <p class="small">Introduction to using MongoDB for application developers</p>
                </li>
                <li>
                    <strong>Percona MySQL Training</strong>
                    <p class="small">How to identify and resolve performance bottlenecks in MySQL deployments</p>
                </li>
                <li>
                    <strong>PADI Rescue Diver</strong>
                    <p class="small">Training in stress management, incident response and first aid</p>
                </li>
                <li>
                    <strong>SAMAA Pilot</strong>
                    <p class="small">Qualified model aircraft pilot with the South African Model Aircraft Association</p>
                </li>
            </ul>
        </el-col>
        
        <el-col :xs="24" :md="12" :lg="8">
            <h3>Interests and Hobbies</h3>
            <ul>
                <li>
                    <strong>Software development</strong>
                    <p class="small">I know, I'm lucky enough that my job is my hobby,</p>
                </li>
                <li>
                    <strong>User interface design</strong>
                    <p class="small">I don't get paid to make things pretty, but why not?</p>
                </li>
                <li>
                    <strong>Scuba diving</strong>
                    <p class="small">I'm a qualified PADI Rescue Diver,</p>
                </li>
                <li>
                    <strong>Adventure motorcycling</strong>
                    <p class="small">The journey is far more fun than the destination.</p>
                </li>
                <li>
                    <strong>Flying</strong>
                    <p class="small">Model aircraft, VR or the real thing, sign me up.</p>
                </li>
                <li>
                    <strong>Hiking and Camping</strong>
                    <p class="small">Nothing builds friendships like forgetting the tent pegs at home.</p>
                </li>
                <li>
                    <strong>Computer Gaming</strong>
                    <p class="small">Because Ireland's weather isn't exactly conducive to being outdoors.</p>
                </li>
            </ul>
        </el-col>
    </el-row>

    <el-row :gutter="40">
        <el-col :span="24">
            <h2>What I'm Looking For</h2>
            <p class="subtitle">If you're trying to sell me on your team, I'd love to hear about these aspects</p>
        </el-col>

        <el-col :xs="24" :md="12" :lg="8">
            <h4>Opportunity to Learn</h4>
            <p>
                One of the cornerstones of everything I do is a constant quest to learn new skills.
                Whether it's taking up a new hobby, designing a complex distributed system or simply
                talking with the best and brightest - an environment that allows me to constantly learn
                something is one of the most important factors in whether I enjoy a role or not.
            </p>

            <p>
                In practice, this often means giving me the freedom and flexibility to push the
                boundaries of what is thought to be possible while trusting that I am able to
                balance the delivery of a product against the quest for a perfect implementation.
            </p>
        </el-col>

        <el-col :xs="24" :md="12" :lg="8">
            <h4>Culture</h4>
            <p>
                I've been spoilt by my past two jobs, with both EMSS Consulting and Demonware being
                staffed by amazing people and an environment that knows how to balance casual beers
                on a Friday evening with a professional approach to their work.
            </p>
            <p>
                Being able to consider my work colleagues friends not just at work, but outside it as
                well is very important to me and I'd love to hear about how you encourage the building
                of those lifelong friendships within your organization.
            </p>
        </el-col>

        <el-col :xs="24" :md="12" :lg="8">
            <h4>A Chance to Contribute</h4>
            <p>
                I strongly believe that as a professional engineer it is my responsibility to deliver
                value to my clients. As my employer, you're buying my time and deserve to see a return
                on that investment. There's nothing more frustrating to me than being unable to contribute
                in an effective way, either because I've been tasked with busy-work or due to the
                red-tape that is so prevalent in various organizations.
            </p>
            <p>
                I'm looking for an environment in which engineers are given responsibility for driving the
                technical direction of the organization while managers provide accurate and useful context
                about what the organization is doing and where they're looking to go.
            </p>
        </el-col>
    </el-row>
</section>