@import url('https://fonts.googleapis.com/css?family=Montserrat|Source+Sans+Pro');

body {
    font-family: 'Source Sans Pro',Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
    overflow: auto;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}

.material-icons {
    vertical-align: middle;
    speak: none;
    line-height: 1;
    font-size: 1em;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif;
}

.el-row--flex.is-align-center {
    align-content: center;
}

a {
    text-decoration: none;
    color: #409EFF;
    transition: color 0.2s linear;
}

a:hover,
a:focus {
    color: rgb(29, 93, 161);
}

dl {
    
}

dt {
    width: 30%;
    display: inline-block;
    text-align: right;
    font-weight: bold;
}

dd {
    display: inline-block;
    text-align: left;
    margin: 0.1rem 0.5rem;
    min-width: calc(70% - 5rem);
}

p {
    text-align: justify;
}

.small {
    font-size: 0.8em;
}

p.small {
    margin-top: 0rem;
}

li {
    margin: 0.3rem auto;
}

#app {
    min-height: 100vh;
}

.topbar {
    border-bottom: 1px solid #e6e6e6;
}

.topbar-title {
    font-family: 'Montserrat', sans-serif;
}

.topbar-title__subtitle {
    display: block;
    font-size: 0.6em;
    margin-left: 0.8em;
    opacity: 0.7;
}

.topbar-description {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.dynamic-quote {
    font-size: 0.8rem;
    text-align: left;
    margin: 0 auto;
    display: inline-block;
}

.dynamic-quote figure {
    margin: 20px;
}

.dynamic-quote blockquote {
    margin: 0;
    position: relative;
}

.dynamic-quote figcaption {
    margin-left: 0.5em;
    font-size: 0.8em;
    font-weight: bold;
}

.dynamic-quote figcaption:before {
    display: inline;
    content: "\2014";
    padding-right: 0.5em;
}

.footerbar {
    border-top: 1px solid #f6f6f6;
    display: flex;
    align-items: center;
}

.adjectives {
    position: relative;
    overflow: visible;
    width: 150px;
    height: 2.5em;
    margin: 0.2em;
}

.adjectives::before {
    display: none;
}

.adjectives-entry {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(-50%);
    transition: 0.5s ease opacity, 0.7s ease transform;
}

.adjectives-a {
    transform: translateY(-100%);
}

.adjectives__a .adjectives-a {
    opacity: 1;
    transform: translateY(-50%);
}

.adjectives-b {
    transform: translateY(0%);
}

.adjectives__b .adjectives-b {
    opacity: 1;
    transform: translateY(-50%);
}

.details {
    margin: 3em 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.details-img > img {
    border-radius: 50%;
    overflow: hidden;
}

.details-links, .details-links p {
    text-align: center;
}

.details-links a {
    padding: 0.2rem 0.4rem;
    color: #666;
}

.details-links a:hover,
.details-links a:focus {
    color: #409EFF;
}

.subtitle {
    margin-top: -1em;
    font-style: italic;
    opacity: 0.8;
}

.autobiography {
    column-count: 3;
}

.autobiography p {
    margin-top: 0;
}

.job {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.cv > div {
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.cv > div:nth-of-type(1) {
    background: #ffffff;
}

.cv > div:nth-of-type(2) {
    background: #fafafa;
}

.cv > div:nth-of-type(3) {
    background: #f4f4f4;
}

.cv > div:nth-of-type(4) {
    background: #efefef;
}

.cv > div:nth-of-type(5) {
    background: #eaeaea;
}

.cv > div:nth-of-type(6) {
    background: #e4e4e4;
}

.cv > div:last-of-type {
    background: #fff;
}

.job .tldr {
    margin: 0.5rem 1rem;
}

.tldr p {
    font-size: 0.8rem;
}

.tldr p:first-of-type {
    margin-top: -1rem;
}

@media print {
    a {
        color: #000;
    }

    .cv h1,
    .cv h2,
    .cv h3,
    .cv h4,
    .cv h5,
    .cv h6 {
        zoom: 1.4;
    }

    .adjectives-entry {
        display: none;
    }

    .details {
        page-break-after: always;
    }

    .details-links {
        display: none;
    }

    .details-extra dt {
        min-width: calc(50% - 2.5rem);
    }

    .details-extra dd {
        min-width: calc(50% - 2.5rem);
    }

    .introduction {
        padding-top: 0.5rem;
        page-break-before: always;
        page-break-after: always;
        page-break-inside: avoid;
    }

    .adjectives::before {
        display: inline-block;
        content: "Developer";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .cv > div {
        padding: 0.5rem 1rem;
        page-break-before: always;
        page-break-after: always;
        page-break-inside: avoid;
        background: #fff !important;
    }

    .footerbar {
        display: none;
    }
}