<template>
    <require from="app/components/project-card"></require>
    
    <div class="container">
        <div class="row">
            <div class="col m8 offset-m2">
                <div class="card">
                    <div class="card-content justify">
                        <h1 class="card-title center">Software Development</h1>
                    </div>
                    
                    <div class="card-action card-section center">
                        <a route-href="route: welcome">Home</a>
                    </div>
                    
                    <div class="card-content justify">
                        <h5 class="center">Where I started</h5>
                        <p>
                            I started programming over 10 years ago while at school. I'd be lying if I said I enjoyed it
                            at the time, it completely flummoxed me and was the bane of my existence for many a month.
                            That being said, I was a particularly stubborn child and damned if I was going to let one
                            subject be my downfall...
                        </p>
                        
                        <p>
                            A year later and I was in love, the ability to dive in and find a solution to almost any problem
                            had me hooked. In fact, I soon found myself opening up Visual Studio before I'd even checked
                            for existing solutions online. This, while in hindsight not the most efficient approach, ended up
                            being an exceptional way to jumpstart my descent into software development.
                        </p>
                        
                        <p>
                            As people began to make use of my projects, many of them friends, I began to see an opportunity
                            to publish my portfolio. To give extra credibility to the projects I was working on (the kind
                            a 15 year old doesn't generally engender) I created Sierra Softworks. Sierra Softworks would
                            serve as an incredible opportunity for me to develop many skills which have served me throughout
                            the rest of my career. This included the need to write code which could be maintained years
                            after you moved on to other projects, or being able to identify the source of a problem from
                            the rough descriptions that customers email you.
                        </p>
                        
                        <p class="center">
                            <img src="/resources/sierrasoftworks-initial.png" alt="My first Sierra Softworks website" class="responsive-img z-depth-2">
                            <br>
                            <strong>The Sierra Softworks Website</strong> around the time I left school
                        </p>
                        
                        <h5 class="center">Gap year and University</h5>
                        <p>
                            By the time I had left school, I was already working, putting together applications and websites
                            for everyone from family and friends to people I met doing holiday work. That meant maintaining my
                            code long after I'd delivered the resulting product and forced me to adopt a number of approaches to assist
                            me. Much of them were picked up as a result of reading code from the many open source projects I
                            contributed to, while others were sourced from the blog posts of Scott Guthrie and Scott Hanselman.
                        </p>
                        
                        <p>
                            Following my secondary schooling, and realizing that at 16 I was far too young to really fit in at
                            university, I decided to take a gap year during which I worked several months as an IT technician,
                            spent a further 3 months working on a game farm and finally worked as a software developer in Perth
                            for another month.
                        </p>
                        
                        <p>
                            During my time at university, studying Electrical Engineering, I spent an exorbitant amount of time
                            working on a combination of personal and open source projects. Late in 2011 I was awarded a membership
                            to Nokia's Developer Program as a result of work I had done on their Maemo platform, while I also
                            began developing systems to assist my residence in various aspects of managing its residents (we were
                            the largest residence on campus, at 500 students).
                        </p>
                        
                        <p>
                            As part of our final year syllabus, we took an entrepreneurship module in which we were required to
                            brainstorm the idea for a product and then develop a business plan built around it. I had spent the
                            past year working on <a route-href="route: project; params.bind: { id: 'frontier' }">Frontier</a>
                            and suggested that our group design a business plan around that. This went exceptionally well, with
                            all of us receiving brilliant marks for the module. Our final presentation was to a number of
                            South African venture capitalists and business owners, a rather daunting prospect. Fortunately,
                            the response to our product and business plan was overwhelmingly positive and at the end of the
                            presentation a number of them offered me jobs at their companies.
                        </p>
                        
                        <p class="center">
                            <img src="/resources/frontier-team.png" alt="The Frontier Team" class="responsive-img z-depth-2">
                            <br>
                            <strong>The Frontier Team</strong> as presented in our Entrepreneurship university module. 
                        </p>
                        
                        <h5 class="center">Working at EMSS</h5>
                        <p>
                            During my final year of university I spent quite a bit of time researching the various job
                            options available to me in South Africa, particularly in the Cape Town area. This included
                            interviews for a number of large and small companies, however at the last minute I was offered
                            the opportunity to interview for a company in Stellenbosch called EMSS Consulting.
                        </p>
                        
                        <p>
                            By the end of my first interview I was entirely sold, a great company culture and some very
                            driven developers working on a technology stack I enjoyed - I couldn't have asked for a
                            better first job.
                            <br>
                            Incredibly, they seemed just as impressed with me and, by the time I arrived home they had
                            already sent through their offer.
                        </p>
                        
                        <p>
                            I've since spent over a year working at EMSS and still greatly enjoy working there. They've
                            given me a huge amount of flexibility to grow myself as a developer, adopting new tools and
                            technologies while also placing me in a position to convey the knowledge I gather by presenting
                            various Continuous Professional Development workshops on the tools I work with.
                        </p>
                        
                        <p>
                            Over my first year at EMSS I became one of their most valued developers, working to bring a
                            number of new projects to fruition and reporting directly to the directors in most cases.
                            These included projects like <a route-href="route: project; params.bind: { id: 'farmtrack' }">FarmTrack</a>,
                            <a route-href="route: project; params.bind: { id: 'fieldsense' }">FieldSense</a> and
                            <a route-href="route: project; params.bind: { id: 'netcon' }">Netcon</a>.
                        </p>
                        
                        <p class="center">
                            <img src="/resources/farmtrack-new-website.png" alt="The Frontier Team" class="responsive-img z-depth-2">
                            <br>
                            <strong>The FarmTrack Website</strong> following a redesign I spearheaded
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>